/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Grandiflora+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.grandiflora-one-regular {
    font-family: "Grandiflora One", cursive;
    font-weight: 400;
    font-style: normal;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}

/* CONTENT */

/* Buttons */

.btn {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0px 30px;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
}

.btn-m {
    border-radius: 15px;
    border-width: 2px;
    font-size: 18px;
    height: 30px;
    width: 120px;
}

.btn-m {
    border-radius: 40px;
    border-width: 3px;
    font-size: 20px;
    height: 30px;
    width: 250px;
}

.btn-white {
    color: white;
    border: solid white;
}

.btn-white:hover {
    color: black;
    background-color: white;
    border: none;
}

/* Containers */

.container {
    /*background-color: purple;*/
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px auto;
    max-width: 1600 px;
    width: 90%;
}

.container___call-to-action {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 45px;
    width: 100%;
}

.container___escogidos {
    /*background-color: purple;*/
}

.container___info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.container___nav {
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
}

.container___nav > ul {
    display: flex;
}

.container___nav > ul > li {
    display: flex;
    padding: 0px 10px;
}

.container___nav > ul > li > a {
    color: white;
    text-decoration: none;
}

.container___nav > ul > li > a:hover {
    color: yellow;
}

/* Sections */

#info {
    background-color: #e2e2e2;
    padding-bottom: 50px;
}

.hero {
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(11, 30, 14, 0.5)), url("/img/camp1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    max-height: 100vh;
    width: 100%;
}

.info {
    background-color: #1f3c12;
    box-shadow: #e0e0e0;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    margin: 0 auto 40px auto;
    padding: 35px 10px;
    text-align: center;
    width: 450px;
}

.info > p {
    font-size: 18px;
    line-height: 45px;
}

.info > p > strong {
    font-weight: 600;
}

.logo {
    width: 70px;
}

.nav {
    background-color: #1f3c12;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    height: 75px;
    margin: 0px auto;
    text-transform: uppercase;
    width: 100%;
}

/* Titles */

.div-title {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
}

.subtitle {
    font-family: "Grandiflora One", cursive;
    font-weight: 800;
    font-style: normal;
    font-size: 100px;
    margin: 70px 0px;
}

.title {
    color: white;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    letter-spacing: 20px;
    text-align: center;
    text-transform: uppercase;
}

.title___repeat {
    /*line-height: 70px;*/
    opacity: 0.15;
}

/* Text & Paragraph*/
.text-big {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 55px;
}

/* Media queries */

@media only screen and (max-width: 1600px) {
    .info > p {
        font-size: 18px;
    }
    .info {
        width: 420px;
    }
}

@media only screen and (max-width: 1510px) {
    .info > p {
        font-size: 16px;
    }
    .info {
        width: 390px;
    }
    .text-big {
        font-size: 50px;
    }
    .title {
        font-size: 85px;
    }
}

@media only screen and (max-width: 1400px) {
    .info > p {
        font-size: 14px;
    }
    .info {
        width: 370px;
    }
    .text-big {
        font-size: 40px;
    }
    .title {
        font-size: 70px;
    }
}

@media only screen and (max-width: 1345px) {
    .info {
        width: 340px;
    }
}

@media only screen and (max-width: 1240px) {
    .container___info {
        flex-direction: column;
    }
    .info > p {
        font-size: 16px;
    }
    .info {
        width: 450px;
    }
    .text-big {
        font-size: 50px;
    }
    .title {
        font-size: 60px;
    }
}

@media only screen and (max-width: 1080px) {
    .logo {
        width: 55px;
    }
    .nav {
        font-size: 16px;
        height: 60px;
    }
    .title {
        font-size: 50px;
    }
}

@media only screen and (max-width: 980px) {
    .title {
        font-size: 50px;
        letter-spacing: 10px;
    }
}

@media only screen and (max-width: 760px) {
    .title {
        font-size: 45px;
    }
}

@media only screen and (max-width: 700px) {
    .logo {
        width: 50px;
    }
    .nav {
        font-size: 14px;
        height: 55px;
    }
    .title {
        font-size: 35px;
    }
}