/* FONTS */
@font-face {
    font-family: Graffiti-City;
    src: url(fonts/Graffiti-City.otf);
  }

@font-face {
    font-family: Mark-SmallCaps-Black;
    src: url(fonts/Mark-SmallCaps-Black.ttf);
}

@font-face {
    font-family: Mark-Black;
    src: url(fonts/Mark-Black.ttf);
}

@font-face {
    font-family: Mark-Book;
    src: url(fonts/Mark-Book.ttf);
}

/* Custom properties */
:root {
    /* Colors */
    --color-primary1: #FBFD1F;
    --color-primary2: #00FA87;
    --color-secondary1: #000000;
    --color-secondary2: #FFFFFF;
    --color-gradient: linear-gradient(0deg, rgba(251, 253, 31, 1), rgba(0, 250, 135, 1));
    /* Fonts */
    --font-primary: "Graffiti-City", sans-serif;
    --font-secondary: "Mark-SmallCaps-Black", sans-serif;
    --font-black: "Mark-Black", sans-serif;
    --font-paragraph: "Mark-Book", sans-serif;
    --font-weight-black: 800;
    --font-size-hero-xxl: 6rem;
    --font-size-hero-xl: 5rem;
    --font-size-hero-l: 3.5rem;
    --font-size-hero-m: 2rem;
    --font-size-hero-s: 1.5rem;
    --font-size-section-title: 5.5rem;
    --font-size-section-subtitle-l: 3rem;
    --font-size-section-subtitle-m: 1.5rem;
    --font-size-section-paragraph: 1rem;
    --font-size-nav: 1.5rem;
    --letter-spacing-paragraph: 0.08rem;
    /* Layout */
    --nav-height: 3.75rem;
    --section-padding-top: calc(var(--nav-height) + 1rem);
    --section-padding-bottom: 2rem;
    @media screen and (min-width: 390px) {
         /* Fonts */
        --font-size-hero-xxl: 7.5rem;
        --font-size-hero-xl: 6rem;
        --font-size-hero-l: 4rem;
        --font-size-hero-m: 2.5rem;
        --font-size-hero-s: 1.5rem;
        --font-size-section-title: 6.25rem;
        --font-size-section-subtitle-l: 3rem;
        --font-size-section-subtitle-m: 1.5rem;
        --font-size-section-paragraph: 1rem;
    }
    @media screen and (min-width: 576px) {
        /* Fonts */
        --font-size-hero-xxl: 8rem;
        --font-size-hero-xl: 7.5rem;
        --font-size-hero-l: 5rem;
        --font-size-hero-m: 3.5rem;
        --font-size-hero-s: 1.75rem;
        --font-size-section-title: 8rem;
        --font-size-section-subtitle-l: 4.75rem;
        --font-size-section-subtitle-m: 2.25rem;
        --font-size-section-paragraph: 1.5rem;
        /* Layout */
        --nav-height: 4.5rem;
        --section-padding-top: calc(var(--nav-height) + 2rem);
        --section-padding-bottom: 3rem;
    }
    @media screen and (min-width: 768px) {
        /* Fonts */
        --font-size-hero-xxl: 9rem;
        --font-size-hero-xl: 7rem;
        --font-size-hero-l: 5rem;
        --font-size-hero-m: 3rem;
        --font-size-hero-s: 1.85rem;
        --font-size-section-title: 9rem;
        --font-size-section-subtitle-l: 6rem;
        --font-size-section-subtitle-m: 2.5rem;
        --font-size-section-paragraph: 1.5rem;
    }
    @media screen and (min-width: 992px) {
        /* Fonts */
        --font-size-hero-xxl: 10.5rem;
        --font-size-hero-xl: 9rem;
        --font-size-hero-l: 8rem;
        --font-size-hero-m: 4.5rem;
        --font-size-hero-s: 2rem;
        --font-size-section-title: 8.5rem;
        --font-size-section-subtitle-l: 7rem;
        --font-size-section-subtitle-m: 3rem;
        --font-size-section-paragraph: 1.75rem;
    }
    @media screen and (min-width: 1200px) {
        /* Fonts */
        --font-size-hero-xxl: 9rem;
        --font-size-hero-xl: 4rem;
        --font-size-hero-l: 6.5rem;
        --font-size-hero-m: 4rem;
        --font-size-hero-s: 1.75rem;
        --font-size-section-title: 8.5rem;
        --font-size-section-subtitle-l: 6rem;
        --font-size-section-subtitle-m: 3rem;
        --font-size-section-paragraph: 1.5rem;
        --font-size-nav: 1.125rem;
    }
    @media screen and (min-width: 1400px) {
        /* Fonts */
        --font-size-hero-xxl: 10rem;
        --font-size-hero-xl: 4rem;
        --font-size-hero-l: 7rem;
        --font-size-hero-m: 4rem;
        --font-size-hero-s: 1.75rem;
        --font-size-section-title: 9rem;
        --font-size-section-subtitle-l: 6.5rem;
        --font-size-section-subtitle-m: 3rem;
        --font-size-section-paragraph: 1.75rem;
    }
}